.dialogContent {
  @apply z-20 fixed left-1/2 top-1/2;
  --dialog-margin: 40px;
  transform: translate(-50%, -50%);

  @apply w-full;
  max-width: calc(100% - var(--dialog-margin));
  max-height: calc(100% - var(--dialog-margin));
  /* In case dvh is supported by the browser: */
  max-height: calc(100dvh - var(--dialog-margin)); 
  @apply bg-slate-50 shadow-md rounded-lg overflow-hidden;
  @apply flex flex-col;
  @apply gap-2 pt-2 pb-4 px-4;

  animation: contentShow 500ms cubic-bezier(0.16, 1, 0.3, 1);
}

@media (min-width: 1000px) {
  .dialogContent {
    @apply gap-4 pt-4;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.dialogOverlay {
  @apply z-10 fixed inset-0 bg-slate-900 bg-opacity-20;
}

.dialogHeader {
  @apply flex gap-2;
}

.dialogTitleSection {
  @apply self-center flex flex-col items-center text-center;
}

.dialogTitle {
  @apply text-xl;
}

@media (min-width: 1000px) {
  .dialogTitle {
    @apply text-2xl;
  }
}

.dialogDescription {
}

.dialogTopLeftContent {
  @apply basis-0 shrink-0 grow mr-auto;
  @apply flex justify-start items-start;
}

.dialogTopRightContent {
  @apply basis-0 shrink-0 grow ml-auto;
  @apply flex justify-end items-start;
}

.dialogBody {
  @apply flex flex-col gap-4 overflow-y-auto;
}

@media (min-width: 1000px) {
  .dialogContent {
    @apply m-0;
    width: 400px;
  }

  .dialogContent[data-size="lg"] {
    width: 600px;
  }

  .dialogContent[data-size="xl"] {
    width: 800px;
  }
}
