/* Create the background container */
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

/* Style the SVG waves */
.wave {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

.wave1 path {
  fill: rgba(255, 171, 35, 0.17);
  animation: waveMovingLeftAnimation 450s linear infinite;
}

.wave2 path {
  fill: rgba(33, 185, 255, 0.12);
  animation: waveMovingLeftAnimation 220s linear infinite;
}

.wave3 path {
  fill: rgba(40, 255, 87, 0.12);
  animation: waveMovingRightAnimation 280s linear infinite;
}

.wave4 path {
  fill: rgba(255, 30, 71, 0.12);
  animation: waveMovingRightAnimation 560s linear infinite;
}

@keyframes waveMovingLeftAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-700%);
  }
}

@keyframes waveMovingRightAnimation {
  0% {
    transform: translateX(-700%);
  }
  100% {
    transform: translateX(0);
  }
}
