@tailwind components;

@layer components {
  /* .heroName {
    animation: hero-name-appear 800ms ease-in-out;
  } */

  .heroName > *:nth-child(1) {
    animation: hero-name-appear 600ms ease-in-out both;
  }

  .heroName > *:nth-child(2) {
    animation: hero-name-appear 600ms 1000ms ease-in-out both;
  }

  .heroName > *:nth-child(3) {
    animation: hero-name-appear 600ms 2400ms ease-in-out both;
  }

  .heroName > *:nth-child(4) {
    animation: hero-name-appear 600ms 4000ms ease-in-out both;
  }

  @keyframes hero-name-appear {
    0% {
      opacity: 0;
      transform: translateX(-120px);
    }

    100% {
      opacity: 1;
    }
  }
}
